@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BebasNeue-Regular";
    src: url("../public/fonts/BebasNeue-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hidden-scroll::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hidden-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }