@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../public/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../public/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../public/fonts/BebasNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 3rem));
  }
}

.scroll {
  animation: scroll 30s linear infinite;
}

.reverse {
  animation-direction: reverse;
}

html {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0px;  /* For Chrome, Safari, and Opera */
}
